body {
    height: 100vh;
    /**width: 1280px;**/
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}
span {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-text {
    color: white;
}
.main-nav {
    /**width: 1280px;**/
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 20px;
}
.logo {
    background: url(images\background_light.png);
}
.main {
   /**width: 1280px;**/
    margin:5vh;
    display: flex;
    justify-content: space-between;
    gap: 20vh;
    background-color: white;
}
.photo-preview {
    width: 300px;
    padding: 25px;
    text-align: center;
}
.name {
    display: flex;
    gap: 70px;
    padding-top: 0;
}
.rate {
    color: #AC0404;
    text-align: center;
}
.italic {
    font-style: italic;
}
.reactions {
    width: 1280;
    padding:0 40px;
    display: flex;
    justify-content: space-between;
}
.reaction-box {
    background-color: aliceblue;
}
.reaction-box p {
    padding: 20px;
}
